What's the meaning of the file name ?

```
ase18_debug/openssl_debug/OpenSSL_1_0_1u/openssl-OpenSSL_1_0_1u_gcc-8.2.0_mipseb_32_O2_libcrypto.so.elf

ase18_debug/openssl_debug/OpenSSL_1_0_1u/openssl-OpenSSL_1_0_1u_gcc-8.2.0_mipseb_32_O3_libssl.so.elf
```

Are these the binaries of openssl program ?

What's the meaning of 'crypto' and 'ssl' ?

@shiwanghua, they are library files you can obtain by compiling the openssl source code. Check [this](https://github.com/openssl/openssl/?tab=readme-ov-file#overview).
> libssl an implementation of all TLS protocol versions up to TLSv1.3 ([RFC 8446](https://tools.ietf.org/html/rfc8446)), DTLS protocol versions up to DTLSv1.2 ([RFC 6347](https://tools.ietf.org/html/rfc6347)) and the QUIC (currently client side only) version 1 protocol ([RFC 9000](https://tools.ietf.org/html/rfc9000)).

> libcrypto a full-strength general purpose cryptographic library. It constitutes the basis of the TLS implementation, but can also be used independently.
